body {
    font-family: 'Inter', sans-serif;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.tab-btn.active {
    border-bottom-color: #137fec;
    color: #137fec;
}
.error-message {
    display: none;
}
.error-message.show {
    display: block;
}