.container {
  font-family: 'Inter', sans-serif;
}

.container :global(.material-symbols-outlined) {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.container :global(.tab-content) {
  display: none;
}
.container :global(.tab-content.active) {
  display: block;
}

.container :global(.tab-btn.active) {
  border-bottom-color: #137fec;
  color: #137fec;
}

.container :global(.error-message) {
  display: none;
}
.container :global(.error-message.show) {
  display: block;
}
